body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #09141c;
}
#root {
  height: 100vh;
}
h1,
h3,
h4,
p {
  color: rgb(41, 185, 115);
}

.main-container {
  height: 100vh;
}

.query-speed-box {
  border: 2px solid red;
  height: 150px;
  width: 150px;
  text-align: center;
}

p {
  font-size: 2rem;
}

.milliseconds-display {
  font-size: 1rem;
}

.column-chart {
  display: inline-block;
}

.label-text {
  color: rgb(41, 185, 115);
}

.input-div {
  color: rgb(41, 185, 115);
}

/* .header {
  width: 500px;
  margin: 0 auto;
  text-align: center;
} */

/* .titleDiv {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
} */

/* #graphiql {
  height: 75%;
  position: fixed;
  bottom: 0;
  width: 100%;
} */

li {
  display: inline;
}

.schemaInput {
  color: rgb(41, 185, 115);
}

.schema-button-list {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

/* naming is confusing here - suggest changing schemaButton to 'schema-list-element' */

.schemaButton {
  margin: 0;
  padding: 0;
}

.schema-button {
  border: 1px solid #09141c;
  padding: 10px;
  border-top-left-radius: 25px;
}

.schema-button:focus {
  border: 2px solid rgb(41, 185, 115);
}
